This page will display the current health of the application using only the functionality found in this self contained module.<br />
This module registers health checks and makes them available on the /healthchecks endpoint.
<br /><br />
The health checks are then polled by the client side javascript to display the current health of the application.
<br />
<br />
The current health of the application is displayed below:<br /><br />
<div id="currentHealth">

</div>

<script defer src="/SelfContainedModule/js/health.js">
    
</script>